<div id="user-profile-2" class="user-profile">
		<div class="tabbable">
			<div class="tab-content no-border padding-24">
				<div id="home" class="tab-pane in active">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<%= image_tag @profile.avatar.url(:regular), :class=>"img-fluid rounded-circle mt-3 ml-2" %>
							</span>

							<div class="space space-4"></div>
							<% if current_user != @profile && user_signed_in? %>
								<%= link_to  new_personal_message_path(receiver_id: @profile) do %>
									<button class="btn btn-sm btn-block btn-primary" style="background: #03a9f4; width: 96%;">
										<i class="ace-icon fa fa-envelope-o bigger-110"></i>
										<span class="bigger-110">Send a message</span>
									</button>
								<% end %>
							<% end %>
						</div>
						<div class="col-xs-12 col-sm-9">
							<h4 class="blue">
								<span class="middle"><%= @profile.user_name %></span>

								<span class="label label-purple arrowed-in-right">
									<% if user_signed_in? %>
										<% if current_user == @profile %>
											<%= link_to "Edit my profile", edit_profile_path(@profile), :class=>"btn btn-md btn-warning" %>
										<% elsif current_user.role == "Admin" %>
											<%= link_to check_if_banned(@profile.role), bans_update_profile_path(profile_id: @profile.id), :id=>"ban_user",
											:method => :put,:remote => true, :class=>"btn btn-md btn-danger" %>
										<% end %>
									<% end %>
								</span>
							</h4>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Username </div>
									<div class="profile-info-value">
										<span><%= @profile.user_name %></span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name"> Role </div>
									<div class="profile-info-value">
										<span><%= @profile.role %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Location </div>

									<div class="profile-info-value">
										<i class="fa fa-map-marker light-orange bigger-110"></i>
										<%= @profile.location %>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span><%= @profile.created_at.strftime('%F') %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Posts </div>

									<div class="profile-info-value">
										<span><%= @profile.posts.count %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Age </div>

									<div class="profile-info-value">
										<span><%= @profile.age  %></span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last Online </div>

									<div class="profile-info-value">
										<span><%= @profile.last_sign_in_at %></span>
									</div>
								</div>
							</div>

							<div class="hr hr-8 dotted"></div>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Website </div>

									<div class="profile-info-value">
										<% if @profile.website %>
											<%= link_to "My website",  @profile.website %>
										<% end %>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">
										<i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
									</div>

									<div class="profile-info-value">
										<% if @profile.facebook.present? %>
											<%= link_to "Find me on facebook",  @profile.facebook %>
										<% end %>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">
										<i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
									</div>

									<div class="profile-info-value">
										<% if @profile.twitter.present? %>
											<%= link_to "Follow me on Twitter",  @profile.twitter %>
										<% end %>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">
										<i class="middle ace-icon fa fa-instagram bigger-150 light-blue"></i>
									</div>

									<div class="profile-info-value">
										<% if @profile.instagram.present? %>
											<%= link_to "Check my instagram",  @profile.instagram %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="space-20"></div>

					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="widget-box transparent">
								<div class="widget-header widget-header-small">
									<h4 class="widget-title smaller">
										About <%= @profile.user_name %>:
									</h4>
								</div>

								<div class="widget-body">
									<div class="widget-main">
										<% if @profile.description %>
										<%= @profile.description %>
										<% else %>
										<p class="text-muted">No description yet</p>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>