<div class="container">
	<div class=" m-5">
		<ol class="breadcrumb">
			  	<li class="breadcrumb-item">
				    <%= link_to root_path do %>
				    	<i class="fa fa-home"></i>
				    <% end %>
				</li>
			    <li class="breadcrumb-item">
			    	<%= link_to @discussion.subject.category.name, category_path(@discussion.subject.category) %>
			    </li>
			    <li class="breadcrumb-item">
			    	<%= link_to @discussion.subject.name, subject_path(@discussion.subject) %>
			    </li>
			    <li class="breadcrumb-item active">
			    	<%= @discussion.name %>
			    </li>
			  </ol>
		<div class="p-3">
			<h2 class="text-muted"><%= @discussion.name %></h2>
			<p>By: <b><%= @discussion.user.user_name %></b>  Posted: <%= @discussion.created_at.to_formatted_s(:db) %></p>
		</div>
			<div class="card" style="max-width: 100%;">
			  <div class="row no-gutters">
			    <div class="col-sm-2">
			      <%= user_avatar(@discussion.user,120,120) %>
			      <p class="ml-4"><%= link_to @discussion.user.user_name, profile_path(@discussion.user), :class=>"text-dark" %>
			    	<br>
					<small>On forum since: <%= @discussion.user.created_at.strftime('%F') %></small>
					<br>
			    	<small>Posts: <%= @discussion.user.posts.count %></small>
			    </p>
			    </div>
			    <div class="col-sm-10">
			      <div class="card-body">
			        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
			        <p class="card-text container">
			        		<%= simple_format(@discussion.content) %>
			        </p>
			      </div>
			    </div>
			  </div>
			</div>
			<% pages = params[:page].present? ? ((params[:page].to_i-1) * 15) : 0 %> 
			<% @posts.each_with_index do |post, index| %>
				<%= render 'partials/posts', post: post, index: index + pages.to_i %>
			<% end %>

			<%= paginate @posts %>
			<% if user_signed_in? %>
				<h4 class="text-muted mt-5" style="border-top: 1px solid lightgrey;">Leave a Reply</h4>
				<%= simple_form_for @post do |f| %>
					<%= f.input :content, as: :text, :input_html => { 'rows' => 10, 'cols' => 10 }, :label=> "Your Post" %>
					<%= f.button :submit, "Add Reply"  ,:class=>"btn btn-md btn-warning" %>
				<% end %>
			<% else %>
				<div class="jumbotron jumbotron-fluid">
				  <div class="container">
				    <p>You are not logged in</p>
				    <p><%= link_to "Log in", new_user_session_path%> or <%= link_to "Register", new_user_registration_path%> in order to add new discussions</p>
				  </div>
				</div>
			<% end %>
	</div>
</div>
