<div>
  Chatting with <%= link_to  profile_path(conversation.with(current_user)) do %>
  <%= conversation.with(current_user).user_name %>
  <%= image_tag conversation.with(current_user).avatar.url(:tiny), :class=>"rounded-circle" %>
  <% end %>
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>