<div class="card" style="width: 18rem;">
				<div class="text-center">
					<h5>Hello <%= current_user.user_name %>!</h5>
			  		<%= user_avatar(current_user,150,150) %>
			  	</div>
			  <div class="card-body">
			    <%= link_to profile_path(current_user)  do %>
			    <button class="btn btn-success btn-block mb-3">
			    	<i class="fa fa-home"></i>
			    	My profile
				</button>
			    <% end %>
			    <%= link_to profile_path(current_user)  do %>
			    <button class="btn btn-warning btn-block mb-3">
			    	<i class="fa fa-envelope"></i>
			    	My Messages
				</button>
			    <% end %>
			    <%= link_to destroy_user_session_path do %>
			    <button class="btn btn-danger btn-block mb-3">
			    	<i class="fa fa-sign-out"></i>
			    	Log out
				</button>
			    <% end %>
			  </div>
</div>