<div class="container p-5">
	<div class="row">
		<div class="col-md-9">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item">
				    <%= link_to root_path do %>
				    	<i class="fa fa-home"></i>
				    <% end %>
				</li>
			    <li class="breadcrumb-item active" aria-current="page">
			    	<%= link_to @subject.category.name, category_path(@subject.category) %>
			    </li>
			     <li class="breadcrumb-item active" aria-current="page">
			    	<%= @subject.name %>
			    </li>
			  </ol>
			</nav>
			<% if @discussions.count > 0 %>
				<h4 class="text-muted">Latest Discussions</h4>
				<%= render 'partials/discussions', discussions: @discussions  %>
				<%= paginate @discussions %> 
			<% else %>
				<h4 class="text-muted">No discussions yet</h4>
			<% end %>
			<% if user_signed_in? && current_user.role != "Banned" %>
			<%= link_to "Add new discussion", {:controller => "discussions", :action => "new", :subject => @subject}, 
			class: "btn btn-md btn-info btn-block mb-3" %>
			<% elsif user_signed_in? && current_user.role == "Banned" %>
				<div class="container">
			    <p><strong>You have been banned!</strong></p>
			    <p class="text-muted">You cannot and new discussions.</p>
			  	</div>
			<% else %>
			<div class="jumbotron jumbotron-fluid">
			  <div class="container">
			    <p>You are not logged in</p>
			    <p><%= link_to "Log in", new_user_session_path%> or <%= link_to "Register", new_user_registration_path%> in order to add new discussions</p>
			  </div>
			</div>
			<% end %>
			<%= link_to "Back to main page", root_path, class: "btn btn-sm btn-warning" %>		
		</div>
		<div class="col-md-3">
			<%= render 'partials/navbox' %>
		</div>
	</div>
</div>
