<div class="container">
	<h3>New message to <%=link_to @receiver.user_name, profile_path(@receiver) %></h3>
	<div class="row">
		<div class="col-md-6">
    <% if current_user.role == "Banned" %>
        <div class="container">
          <p><strong>You have been banned!</strong></p>
          <p class="text-muted">You cannot send new messages.</p>
       </div>
    <% else %>
   			<%= form_for @personal_message do |f| %>
      		<%= hidden_field_tag 'receiver_id', @receiver.id %>
      		<div class="form-group">
        	<%= f.text_area :body, :class=>"form-control" %>
      	</div>
      	<div class="form-group">
        <%= f.submit "Send Message", :class=>"form-control btn btn-warning btn-sm" %>
      		</div>
    		<% end %>
    <% end %>
		</div>
		<div class="col-md-6">	
		</div>
	</div>
</div>